{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "last 2 years",
          "not < 0.05%"
        ]
      },
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-syntax-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}
