{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 years",
          "not < 0.05%"
        ]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
