{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "last 2 years",
          "not < 0.05%"
        ]
      },
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-syntax-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
