$primary: #332532;
$white: #fefefe;
$accent: #fd755c;

body {
  background: $white;
  margin: 0;
}

body,
button {
  font-family: 'Noto Sans', sans-serif;
}

%container {
  max-width: 1200px;
  margin: auto auto;
  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
  }
}

.container {
  @extend %container;
}

.trend {
  position: relative;
  width: 300px;

  .recharts-responsive-container {
    margin-top: 2rem;
  }

  .recharts-tooltip-wrapper {
    position: absolute;
    transform: none !important;
    top: -2.15rem !important;
    left: 2.45rem;
    background: white;
    width: calc(100% - 2.7rem);
  }

  .changes {
    font-size: .75rem;
    margin-top: -.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    > span {
      display: inline-block;
    }
    svg {
      margin-top: -.05rem;
    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $primary;
    display: flex;
    text-decoration: none;
    &:hover {
      color: $accent;
      .changes {
        color: $primary
      }
    }
    .title {
      display: inline-block;
      padding-left: .2rem;
      padding-right: .25rem;
      margin-top: -.15rem;
      width: 100%;
      overflow: hidden;
      > div:first-of-type {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        div {
          flex: 1 1 auto;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        svg {
          flex: 0 1 auto;
          font-size: .75rem;
          min-width: .75rem;
          align-self: center;
          margin-right: .2rem;
          &.new {
           fill: $accent;
          }
          *.leftover {
            fill: $primary
          }
        }
      }
    }
  }
}

img {
  margin-left: .25rem;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 999rem;
  object-fit: cover;
}

header {
  text-transform: uppercase;
  text-align: center;
  background: $primary;
  color: $white;
  position: relative;
  user-select: none;
  cursor: default;

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $accent;
    }
  }
}

h1 {
  margin: 0;
  font-size: 10vw;
  @media screen and (max-width: 770px) {
    font-size: 20vw;
    margin-top: -2vw;
  }
}

h2 {
  margin-top: -3vw;
  margin-bottom: 0;
  padding-bottom: 2vw;
  font-size: 5vw;
  font-weight: 400;
  @media screen and (max-width: 770px) {
    font-size: 10vw;
    margin-top: -4.5vw;
  }
}

.bar {
  height: 3rem;
  background: darken($white, 2);
  border-bottom: 1px solid darken($white, 5);
  position: sticky;
  top: 0;
  z-index: 999;

  .info {
    flex: 1;
    text-align: right;
  }

  > div {
    @extend %container;
    line-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: .9rem;
  }

  @media screen and (max-width: 860px) {
    height: 5.125rem;
    > div {
      flex-wrap: wrap;
    }
    .bar-sorts {
      margin: -.75rem auto 0;
      span {
        display: none;
      }
    }
    .info {
      margin-top: -.125rem;
      text-align: center;
      flex: 0 0 100%;
      order: -1;
    }
  }

  button {
    border: 1px solid darken($white, 7);
    border-left: none;
    background: darken($white, 2);
    padding: .45rem 1rem;
    cursor: pointer;
    &:first-of-type {
      margin-left: .5rem;
      border-left: 1px solid darken($white, 7)
    }
    &:last-of-type {
      margin-right: .5rem;
    }
    &:hover {
      background: lighten(rgba($primary, .8), 70);
    }
  }
}

.pos {
  color: green;
}

.neg {
  color: red;
}

.link {
  position: absolute;
  top: 8vw;
  text-align: center;
  color: lighten($primary, 40);
  text-transform: uppercase;
  text-decoration: none;
  width: 80px;

  @media screen and (max-width: 770px) {
    top: 15vw;
  }

  &:hover {
    color: $accent;
  }

  &.prev {
    left: 1rem;
    transform: rotate(-90deg);
  }

  &.next {
    right: 1rem;
    transform: rotate(90deg);
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;

  @media screen and (max-width: 931px) {
    justify-content: center;
  }

  > div:first-child {
    flex: 0 0 auto;
  }

  > p:last-child {
    flex: 1 0 auto;
    text-align: center;
    text-indent: -12rem;
  }
}

.trend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.github-corner {
  svg {
    fill: lighten($primary, 40);
    color: $primary;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;

    @media screen and (max-width: 770px) {
      top: 2vw;
    }
  }

  .octo-arm {
    transform-origin: 130px 106px;
  }

  &:hover {
    svg {
      fill: $accent;
    }
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px){
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
