$primary: #332532;
$white: #fefefe;

body {
  background: $white;
  margin: 0;
}

body,
button {
  font-family: 'Noto Sans', sans-serif;
}

%container {
  max-width: 1200px;
  margin: auto auto;
  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
  }
}

.container {
  @extend %container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.trend {
  order: 0;
  flex: .8 1 auto;
  align-self: auto;
  display: flex;
  height: 10rem;
  position: relative;

  a {
    position: absolute;
    color: #555;
    width: 100%;
    z-index: 100;
    &:hover {
      color: orange;
    }
    > div {
      display: inline-block;
      position: relative;
      bottom: .125rem;
      left: .5rem;
      width: calc(100% - 3.75rem);
    }
    .title {
      height: 1.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .changes {
      font-size: .75rem;;
      display: flex;
      justify-content: space-between;
      color: black;
      svg {
        padding-right: .25rem;
        margin-top: -.125rem;
      }
    }
  }
}

.overlay {
  position: absolute;
  background: $white;
  top: 0;
  margin-top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  transition: opacity .1s ease-in-out;

  span {
    display: block;
  }
}

.trend-graph {
  width: 100%;
  height: 100%;
  /* Uncomment when overlaying graphs added
  &:not(:first-of-type) {
    position: absolute;
  }
  */
}

.trend:hover > * ~ .overlay {
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

img {
  height: 2rem;
  width: 2rem;
  border-radius: 999rem;
  object-fit: cover;
}

header {
  text-transform: uppercase;
  text-align: center;
  background: $primary;
  color: $white;
  position: relative;
  user-select: none;
  cursor: default;
}

h1 {
  margin: 0;
  font-size: 10vw;
  @media screen and (max-width: 770px) {
    font-size: 20vw;
    margin-top: -2vw;
  }
}

h2 {
  margin-top: -3vw;
  margin-bottom: 0;
  padding-bottom: 2vw;
  font-size: 5vw;
  font-weight: 400;
  @media screen and (max-width: 770px) {
    font-size: 10vw;
    margin-top: -4.5vw;
  }
}

.bar {
  height: 3rem;
  background: darken($white, 2);
  border-bottom: 1px solid darken($white, 5);
  margin-bottom: 3rem;

  .info {
    flex: 1;
    text-align: right;
  }

  > div {
    @extend %container;
    line-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: .9rem;
  }

  @media screen and (max-width: 860px) {
    height: 5.125rem;
    > div {
      flex-wrap: wrap;
    }
    .bar-sorts {
      margin: -.75rem auto 0;
      span {
        display: none;
      }
    }
    .info {
      margin-top: -.125rem;
      text-align: center;
      flex: 0 0 100%;
      order: -1;
    }
  }

  button {
    border: 1px solid darken($white, 7);
    border-left: none;
    background: darken($white, 2);
    padding: .45rem 1rem;
    cursor: pointer;
    &:first-of-type {
      margin-left: .5rem;
      border-left: 1px solid darken($white, 7)
    }
    &:last-of-type {
      margin-right: .5rem;
    }
    &:hover {
      background: lighten(rgba($primary, .8), 70);
    }
  }
}

.pos {
  color: green;
}

.neg {
  color: red;
}
