name: Cron

on:
  workflow_dispatch:
  schedule:
  - cron: '0 22 * * *' # Every night at 22:00 UTC+0

jobs:
  update:
    name: Daily Update
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Get Yarn cache directory
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Use Yarn cache
      uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}

    - name: Install dependencies
      run: yarn install --prefer-offline --frozen-lockfile

    - name: Get seasonal data from Kitsu.io
      run: yarn cron
      env:
        KITSU_USERNAME: ${{ secrets.KITSU_USERNAME }}
        KITSU_PASSWORD: ${{ secrets.KITSU_PASSWORD }}

    - name: Get today's date
      id: date
      run: echo "::set-output name=today::$(date +%F)"

    - name: Commit updated seasonal data
      run: |
        git config --global user.name '${{ secrets.GH_USERNAME }}'
        git config --global user.email '${{ secrets.GH_EMAIL }}'
        git add data/
        git commit -am 'chore: add data for ${{ steps.date.outputs.today }}'
        git push

    - name: Trigger CI Workflow
      if: success()
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.GH_TOKEN }}
        repository: ${{ github.repository }}
        event-type: trigger-ci-workflow
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
